<h1 align="center" class="display-4 ">Products</h1>
<a *ngIf="currentUser?.role == Role.User" style="color: inherit"
   routerLink="/seller/product/new" class="float-right mb-3"><i class="fas fa-plus fa-2x">Add</i>
</a>
<a href="/assets/bulk-upload.csv" ><i class="fa fa-download" aria-hidden="true" style="font-size:42px;color:green"></i></a>
<form action="/" method="post" enctype="multipart/form-data">
    <input class="form-control" type="file" 
            (change)="onChange($event)">
</form>
    <button (click)="onUpload()" 
        class="btn btn-success" style="margin-bottom: 20px;">
        Upload
</button>
    <div>
        Search <input type = "text" name="search" [(ngModel)]="searchText" placeholder ="Enter Some Text To Search" />

    </div>

<table id="table" class="table table-striped text-center" style="width:100%;">
    <thead>
    <tr>
        <th scope="col">Photo</th>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Description</th>
        <th scope="col" (click)="sort()" >Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Status</th>
        <th scope="col">Edit</th>
        <th scopr="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let productInfo of page?.content | filter:searchText">
        <th class="align-middle" scope="row">
            <img height="100px" src="{{productInfo.productIcon}}" alt="{{productInfo.productName}}">
        </th>
        <td class="align-middle">{{productInfo.productId}}</td>
        <td class="align-middle">{{productInfo.productName}}</td>
        <td class="align-middle">{{CategoryType[productInfo.categoryType]}}</td>
        <td class="align-middle">{{productInfo.productDescription}}</td>
        <td class="align-middle">{{productInfo.productPrice | currency}}</td>
        <td class="align-middle">{{productInfo.productStock}}</td>
        <td class="align-middle">{{ProductStatus[productInfo.productStatus]}}</td>
        <td class="align-middle">
            <button  class="btn btn-primary" routerLink="/seller/product/{{productInfo.productId}}/edit">
                Edit</button>
        </td>
        <td class="align-middle">
            <button style="display: block" class="btn btn-danger"
               (click)="remove(page.content, productInfo.productId)" routerLink="/seller/product/{{productInfo.productId}}/delete">
                Delete</button>
            <!-- <button  routerLink="/seller/product/{{productInfo.productId}}/delete" class="btn btn-danger">Delete</button> -->
        </td>
        <td class="align-middle">
            <button (click)=onSubmit() [disabled]="(productInfo.productStock >10)? true:false" class="btn btn-success">Email</button>
           <a  [ngClass]="{'isDisabled':'(productInfo.productStock >10)? true:false'}"style="display: block" class="isDisabled"  routerLink="/email"></a>
        </td> 

    </tbody>
</table>
<app-pagination [currentPage]="page"></app-pagination>
